#header .row{
    padding: 30px;
}

#header .navigation ul{
    margin-right: -70px;
}

#header .navigation ul li{
    float: right;
}

#content .slider{
    background-color: #f4f4f4;
    text-align: center;
    padding: 60px 0px;
}

#content .slider .title{
    font-weight: 600;
    color: #494949;
}

#content .slider .path p{
    margin: 0px;
    color: #d1d1d1;
}

#content .who{
    margin: 100px 0px;
}

#content .who .title{
    color: #494949;
    font-weight: 600;
    margin-bottom: 70px;
}

#content .who .subtitle{
    font-size: 25px;
    color: #494949;
    margin-bottom: 30px;
}

#content .who p{
    color: #b2b2b2;
    margin: 0px;
}

#content .follow-left{
    margin-bottom: 100px;
}

#content .our-team{
    margin-bottom: 80px;
}

#content .our-team h3.title{
    margin-bottom: 50px;
    color: #494949;
}

#content .our-team .row .hover-wrap{
    position: relative;
}

#content .our-team .row .hover-wrap .hover-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.6);
    opacity: 0;
    transition: 0.8s all;
}

#content .our-team .row .hover-wrap .hover-info:hover{
    opacity: 1;
}

#content .our-team .row .hover-wrap .hover-info ul{
    width: 130px;
    margin: 0 auto;
    margin-top: 105px;
}

#content .our-team .row .hover-wrap .hover-info ul li{
    float: left;
    font-size: 25px;
    background-color: #515151;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin: 0px 3px;
}

#content .our-team .row .info-wrap{
    position: relative;
    padding-left: 15px;
}

#content .our-team .row .info-wrap .name{
    color: #4a4a4a;
    font-weight: 600;
    font-size: 20px;
}

#content .our-team .row .info-wrap .title{
    color: #d2d2d2;
    font-size: 13px;
}

#content .our-team .row .info-wrap .gray-bar{
    position: absolute;
    left: 0;
    top: 11px;
    width: 6px;
    height: 30px;
    background-color: #eeeeee;
}

#content .our-workspace{
    margin-bottom: 100px;
}

#content .our-workspace h3{
    color: #494949;
}

#content .our-workspace .slider-bottom .img-holder-left{
    float: left;
    width: 45.5%;
}

#content .our-workspace .slider-bottom .img-holder-right{
    float: left;
    width: 53.6%;
    margin-left: 10px;
}

#content .our-workspace .slider-bottom .img-holder-right .img-1{
    float: left;
    width: 38.1%;
}

#content .our-workspace .slider-bottom .img-holder-right .img-2{
    float: left;
    width: 60%;
    margin-left: 10px;
    margin-bottom: 10px;
}

#content .our-workplace .slider-bottom .img-holder-right .img-3{
    float: left;
    width: 100%;
}

#content .our-workspace .slider-bottom .slider-1{
    position: relative;
}

#content .our-workspace .slider-bottom .slider-1 .cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255,.6);
}

#content .our-workspace .slider-bottom button.slick-prev{
    z-index: 1;
    left: 1%;
    color: #4a4a4a;
    width: 50px;
    height: 50px;
}

#content .our-workspace .slider-bottom button.slick-next{
    z-index: 1;
    right: 1%;
    color: #4a4a4a;
    width: 50px;
    height: 50px;
}

.slick-slide {
    margin: 0 15px;
}

.slick-slide.slick-active .cover{
    opacity: 0;
}
  /* the parent */
.slick-list {
    margin: 0 -15px;
}

#content .our-workspace .slider-bottom .slick-dots li{
    width: 90px;
    height: 2px;
    background-color: #ebebeb;
}

#content .our-workspace .slider-bottom .slick-dots li.slick-active{
    background-color: #b5b5b5;
}

#content .our-workspace .slider-bottom button:before{
    opacity: 0;
}




